.places {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px #FF5A5F solid;
    border-radius: 4px;
    text-align: center;
}

.places h1 {
    width: 100%;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
}

.places .articule h2 {
    font-size: 30px;
}
